# Scikit-Learn example
** Run Docker container in the sklearn directory

In [1]:
import pandas as pd
from home_run.client import HomeRun

hr = HomeRun("http://localhost:5000")

### Scikit-Learn â€“ Iris Model

In [3]:
data = {
    "batch":False,
    "input":[[ 8.0,  9,  7,  30],
             [ 4.6,  3.1,  1.5,  0.2]]
}
res = hr.predict(data)
pd.DataFrame(res)

   batch                 input  output
0  False       [8.0, 9, 7, 30]       2
1  False  [4.6, 3.1, 1.5, 0.2]       0

# Keras Example

In [48]:
import pandas as pd
from home_run.client import HomeRun

hr = HomeRun("http://localhost:5000")

In [49]:
from keras.datasets import mnist

(x_train, y_train), (x_test, y_test) = mnist.load_data()
num_items = 100

data = {
    "batch":False,
    "input":x_test[0:num_items].reshape(num_items, 28, 28, 1).tolist()
}
res = hr.predict(data)
df = pd.DataFrame(res)

In [51]:
df['output_class'] = df['output'].map(lambda x: np.argmax(x))
df['actual_class'] = y_test[0:num_items]
df['match'] = df.apply(lambda x : 1 if x['output_class'] == x['actual_class'] else 0, axis=1)
df.head(10)

,batch,input,output,output_class,actual_class,match
0,False,"[[[0], [0], [0], [0], [0], [0], [0], [0], [0],...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...",7,7,1
1,False,"[[[0], [0], [0], [0], [0], [0], [0], [0], [0],...","[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2,2,1
2,False,"[[[0], [0], [0], [0], [0], [0], [0], [0], [0],...","[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,1
3,False,"[[[0], [0], [0], [0], [0], [0], [0], [0], [0],...","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,0,1
4,False,"[[[0], [0], [0], [0], [0], [0], [0], [0], [0],...","[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",4,4,1
5,False,"[[[0], [0], [0], [0], [0], [0], [0], [0], [0],...","[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,1
6,False,"[[[0], [0], [0], [0], [0], [0], [0], [0], [0],...","[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",4,4,1
7,False,"[[[0], [0], [0], [0], [0], [0], [0], [0], [0],...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",9,9,1
8,False,"[[[0], [0], [0], [0], [0], [0], [0], [0], [0],...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...",6,5,0
9,False,"[[[0], [0], [0], [0], [0], [0], [0], [0], [0],...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",9,9,1

### Check Model Accuracy

In [110]:
df.match.mean()

0.95

In [16]:
from home_run.models import HRModel
# Instantiate a HRModel for sklearn type
model_file = "../keras/model/my_model.h5"
ml = HRModel(model_type="keras",
             model_file=model_file)

In [39]:
import numpy as np
num_items = 5

ml.model.predict(np.array(data['input'][0:num_items]).reshape(num_items,28,28,1))

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.]], dtype=float32)

In [18]:
ml.model.predict(np.array(x_test[0:num_items].reshape(num_items, 28, 28, 1).tolist()))

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]], dtype=float32)

In [30]:
np.array(x_test[0:num_items].reshape(num_items, 28, 28, 1)).shape

(2, 28, 28, 1)